<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="ExecuteURL" defaultPath="/Error/PageNotFound">
			<remove statusCode="404"/>
			<error statusCode="404" path="/Error/PageNotFound" responseMode="ExecuteURL"/>
		</httpErrors>
	</system.webServer>
</configuration>