@model IEnumerable<Valtech_Task2_Ankh_Morpork_game_.Player>
@{
    ViewBag.Title = "List of players";
}

<a asp-action="Create" asp-controller="Players">Add player</a>

<table class="table">
    <tr><th>Name</th></tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Name</td>
            <td>
                <form asp-action="Delete" asp-controller="Players" asp-route-id="@player.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Players" asp-route-id="@player.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@player.Id">Change password</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>