@using System.Diagnostics.Eventing.Reader
@model Valtech_Task2_Ankh_Morpork_game_.Data.IRepository.IGeneralRepository
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @{
        System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
    }
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
        using (Html.BeginForm("Logout", "Account", FormMethod.Post))
        {
            <input type="submit" value="Exit"/>
        }
    }
    else
    {
        @Html.ActionLink("Login", "Login","Account")
        @Html.ActionLink("Registration","Register","Account")
    }
</div>
@foreach (var ass in Model.GetAssassinsEnumerable)
{
    <h1>@ass.Name</h1>
}